%gl-regular {
   font-family: 'Gilroy-Regular', sans-serif;
   font-weight: 400;
}

%gl-medium {
   font-family: 'Gilroy-Medium', sans-serif;
   font-weight: 500;
}

%gl-semibold {
   font-family: 'Gilroy-SemiBold', sans-serif;
   font-weight: 600;
}

%gl-bold {
   font-family: 'Gilroy-Bold', sans-serif;
   font-weight: 700;
}